body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 70px;
}

.code-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.code {
    width: 50px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #ccc;
}

.code:focus {
    outline: none;
    border-color: #4b7bec;
}
